<%= render "shared/nav" %>

<% if user_signed_in? %>
  <%= link_to 'New source', new_source_path %>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><%= sortable "SKU" %></th>
            <th><%= sortable "title" %></th>
            <th><%= sortable "edition_id", "Edition" %></th>
          </tr>
        </thead>
        <tbody>

        <% @sources.each do |source| %>
          <tr>
            <td>
              <%= if source.image_addr.present?
                thumbnail = source.image_addr.gsub(".png", "t.png")
                image_tag(thumbnail, :alt => "Cover Image", :style => "width:50px")
              end %>
            </td>
            <td><%= source.sku %></td>
            <td>
              <%= link_to source.title, source_path(source) %>
              <small>
                <%= if source.author.present?
                    "by #{source.author}"
                end %>
              </small>
              <br>
              <small><%= source.notes %></small>
            </td>
            <td>
              <%=
                if source.edition.present?
                  source.edition.name
                end
              %>
            </td>
            <% if user_signed_in? %>
              <td>
                <%= link_to "Edit", edit_source_path(source),
                  :class => "btn btn-primary btn-xs",
                  :role=> "button"
                %>
                <%= link_to "Delete", source_path(source),
                  :class => "btn btn-danger btn-xs",
                  :role=> "button",
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                %>
              </td>
            <% end %>
          </tr>
        <% end %>
</table>

<%= paginate @sources %>
