<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="The Shadowrun Database">
<meta name="twitter:url" property="og:url" content="http://shadowrundb.com/sources/<%= @source.id %>">
<meta name="twitter:title" property="og:title" content="<%= @source.title %>">
<!-- <meta name="twitter:description" property="og:description" content=""> -->
<meta name="twitter:image" property="og:image" content="<%= @source.image_addr %>">


<% content_for :title, @source.title %>
<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 view-template">

      <h3><%= @source.title %></h3>
      <p class="lead">
        <%= @source.author %><br>

        <%= if @source.publisher
          @source.publisher.name
        end %>
        <%= @source.try(:sku) %><br>

        <%= if @source.edition
          "#{@source.edition.name} Edition"
        end
        %><br>
      </p>

      <dl>
        <dt>Front Cover</dt>
        <dd>
          <div class="container-fluid">
            <div class="row justify-content-left">
              <div class="col-md-4">
                <%= if @source.image_addr.present?
                  image_tag(@source.image_addr, :alt => "Cover Image", :style => "width:250px")
                end %>
              </div>
              <div class="col-md-8">
                <dl class="dl-horizontal">
                  <dt>Publication Date</dt>
                  <dd>
                    <%= if @source.publication_date.present?
                      @source.publication_date.to_date.to_formatted_s(:rfc822)
                    end %>
                  </dd>
                  <dt>Game Date</dt>
                  <dd>
                    <%= if @source.game_date.present?
                      @source.game_date.to_date.to_formatted_s(:rfc822)
                    end %>
                  </dd>
                  <dt>ISBN-10</dt>
                  <dd>
                    <%= @source.isbn10 %>
                  </dd>
                  <dt>ISBN-13</dt>
                  <dd>
                    <%= @source.isbn13 %>
                  </dd>
                  <dt></dt>
                  <dd>
                    <%= @source.notes %>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </dd>
        <dt>Back Cover Text</dt> <dd><%= simple_format(@source.try(:back_text)) %></dd>
      </dl>

    </div>
  </div>
</div>
