<% content_for :title, "Shadowrun People Index" %>
<%= render "shared/nav" %>

<% if user_signed_in? %>
  <%= link_to 'New person', new_person_path %>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th><%= sortable "name" %></th>
            <th><%= sortable "bluf", "BLUF" %></th>
          </tr>
        </thead>
        <tbody>
          <% @people.each do |person| %>

          <tr>
            <td>
              <%= link_to person.name, person_path(person) %>
            </td>
            <td><%= person.bluf %></td>

            <% if user_signed_in? %>
              <td>
                <%= link_to 'Edit', edit_person_path(person),
                  :class => "btn btn-primary btn-xs",
                  :role=> "button"
                %>
                <%= link_to 'Delete', person_path(person),
                  :class => "btn btn-danger btn-xs",
                  :role=> "button",
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                %>
              </td>
            <% end %>

          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @people %>
    </div>
  </div>
</div>
