<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="The Shadowrun Database">
<meta name="twitter:url" content="http://shadowrundb.com/people/<%= @person.id %>">
<meta name="twitter:title" content="<%= @person.name %>">
<meta name="twitter:description" content="<%= @person.summary %>">

<% content_for :title, @person.name %>

<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 view-template">

      <h3><%= @person.name %></h3>
      <p class="lead"><%= @person.summary %></p>

      <dl>
        <dt>Affiliation</dt> <dd><%= @person.affiliation %></dd>
        <dt>Details</dt> <dd><%= @person.details %></dd>
        <dt>Notes</dt> <dd><%= @person.notes %></dd>
        <dt>Active</dt> <dd><%= @person.active %></dd>
        <dt>Metatype</dt> <dd><%= @person.metatype %></dd>
      </dl>

      <% if @person.occurrence_people.exists? %>
        <strong>Mentioned in these events:</strong><br>

        <% @person.occurrence_people.each do |occurrence_person| %>
          <ul>
            <%= link_to occurrence_person.occurrence.date,"/occurences/#{occurrence_person.occurrence.id}" %><br/>
            <%= occurrence_person.occurrence.details %>
          </ul>
        <% end %>
      <% end %>

      <strong>Sources</strong><br>
      <ul>
        <% @person.person_sources.each do |person_source| %>
          <li>
            <%= link_to person_source.source.name,"/sources/#{person_source.source.id}" %>
            p. <%= person_source.pages %>
            <% if user_signed_in? %>
              <%= link_to "Delete",
                "#{person_path(person_source.person_id)}/person_sources/#{person_source.id}",
                :class => "btn btn-danger btn-xs",
                :role=> "button",
                method: :delete,
                data: { confirm: 'Are you sure?' }
              %>
            <% end %>
          </li>

        <% end %>

      </ul>

      <% if user_signed_in? %>
        <%= render "add_source" %>

        <div class="form-group row justify-content-center">
          <div>
            <%= link_to "Edit", edit_person_path(@person), :class => "btn btn-primary", :role=> "button"%>
            <%= link_to "Back", people_path, :class =>"btn btn-primary", :role => "button"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
