<% if user_signed_in? %>
  <%= form_for @group do |f| %>

    <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@group.errors.count, "error") %> prohibited
          this location from being saved:
        </h2>
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <%= f.label :name, :class => "col-md-2 col-form-label" %>
      <div class="col-md-8">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :kind, :class => "col-md-2 col-form-label" %>
      <div class="col-md-8">
        <%= f.text_field :kind, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :subtype, :class => "col-md-2 col-form-label" %>
      <div class="col-md-8">
        <%= f.text_field :subtype, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :notes, :class => "col-md-2 col-form-label" %>
      <div class="col-md-8">
        <%= f.text_area :notes, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <div>
        <%= f.submit "Submit", :class => "btn btn-primary"%>
        <% if @group.id.nil? %>
          <%= link_to "Cancel", groups_path, :class =>"btn btn-primary", :role => "button"  %>
        <% else %>
          <%= link_to "Cancel", group_path, :class =>"btn btn-primary", :role => "button"  %>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
