<%= render "shared/nav" %>

<% if user_signed_in? %>
  <%= link_to 'New group', new_group_path %>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th><%= sortable "name" %></th>
            <th><%= sortable "kind", "Type" %></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |org| %>
          <tr>
            <td>
              <%= link_to org.name, group_path(org) %>
            </td>
            <td><%= org.kind %></td>
            <% if user_signed_in? %>
              <td>
                <%= link_to 'Edit', edit_group_path(org),
                  :class => "btn btn-primary btn-xs",
                  :role=> "button"
                %>
                <%= link_to 'Delete', group_path(org),
                  :class => "btn btn-danger btn-xs",
                  :role=> "button",
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @groups %>
    </div>
  </div>
</div>
