<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="The Shadowrun Database">
<meta name="twitter:url" content="http://shadowrundb.com/groups/<%= @group.id %>">
<meta name="twitter:title" content="<%= @group.name %>">
<meta name="twitter:description" content="<%= @group.name %>">

<% content_for :title, @group.name %>
<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 view-template">

      <h3><%= @group.name %></h3>
      <p class="lead"><%= @group.kind %></p>

      <dl>
        <dt>Subtype</dt> <dd><%= @group.subtype %></dd>
        <dt>Notes</dt> <dd><%= @group.notes %></dd>
      </dl>

      <% if @group.occurrence_groups.exists? %>
        <strong>Mentioned in these events:</strong><br>
        <ul>
          <% @group.occurrence_groups.each do |occurrence_group| %>
            <%= link_to occurrence_group.occurrence.date,"/groups/#{occurrence_group.occurrence.id}" %><br/>
            <%= occurrence_group.occurrence.details %>
          <% end %>
        </ul>
      <% end %>

      <strong>Sources</strong>

      <ul>
        <% @group.group_sources.each do |group_source| %>
          <li>
            <%= link_to group_source.source.name,"/sources/#{group_source.source.id}" %>
             p. <%= group_source.pages %>
            <% if user_signed_in? %>
              <%= link_to "Delete",
                "#{group_path(group_source.group_id)}/group_sources/#{group_source.id}",
                :class => "btn btn-danger btn-xs",
                :role=> "button",
                method: :delete,
                data: { confirm: 'Are you sure?' }
              %>
            <% end %>

          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <%= render "add_source" %>

        <div class="form-group row justify-content-center">
          <div>
            <%= link_to "Edit", edit_group_path(@group), :class => "btn btn-primary", :role=> "button"%>
            <%= link_to "Back", groups_path, :class =>"btn btn-primary", :role => "button"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
