<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="#">Shadowrun</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <%= link_to 'People', people_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Groups', groups_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Locations', locations_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Major Events', events_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Timeline', occurrences_path, class: "nav-link"%>
      </li>
    </ul>
  </div>

</nav>
