<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98173597-1', 'auto');
  ga('send', 'pageview');

</script>

<nav class="navbar navbar-toggleable-sm sticky-top navbar-inverse bg-inverse">
  <a class="navbar-brand" href="/">The SRDB</a>
  <div class="navbar-nav">
    <%= link_to 'People', people_path, class: "nav-link"%>
    <%= link_to 'Groups', groups_path, class: "nav-link"%>
    <%= link_to 'Locations', locations_path, class: "nav-link"%>
    <!-- <%= link_to 'Major Events', events_path, class: "nav-link"%> -->
    <%= link_to 'Timeline', occurrences_path, class: "nav-link"%>
    <%= link_to 'Books', sources_path, class: "nav-link"%>
  </div>
</nav>
