<% content_for :title, "Shadowrun Database Search" %>
<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      Found <%= @results.total_count %> results in <%= @results.took %> ms.<br/><br/>

      <ul class="list-group">
        <% @results.each do |result| %>
        <li class="list-group-item">
          <% if result.class.to_s == "Person" %>
            <%= render partial: "person", locals: {result: result} %>
          <% elsif result.class.to_s == "Group" %>
            <%= render partial: "group", locals: {result: result} %>
          <% elsif result.class.to_s == "Location" %>
            <%= render partial: "location", locals: {result: result} %>
          <% elsif result.class.to_s == "Occurrence" %>
            <%= render partial: "occurrence", locals: {result: result} %>
          <% elsif result.class.to_s == "Source" %>
            <%= render partial: "source", locals: {result: result} %>
          <% end %>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
