<% content_for :title, "Shadowrun Timeline" %>
<%= render "shared/nav" %>

<% if user_signed_in? %>
  <%= link_to 'New occurrence', new_occurrence_path %>
<% end %>

<% previous_date = Date.today %>
<% current_year = 1970 %>
<% first_pass = true %>


<%
  decade = (@occurrences.first.date.year / 10).floor * 10
  last_decade = (@occurrences.last.date.year / 10).floor * 10
  range = (last_decade - decade ) / 10 + 1
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">



<% @occurrences.each do |occurrence| %>

  <% if current_year != occurrence.date.year %>

    <% if first_pass %>
      <% first_pass = false %>
    <% else %>

      </div>
    </div>
  </div>

    <% end %>

  <div id='<%=occurrence.date.year %>' class="container-fluid">
    <h2 data-toggle="collapse" data-target='#<%= occurrence.date.year %>_info'>
      <%= current_year = occurrence.date.year %>
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-10 collapse show" id='<%=occurrence.date.year %>_info'>

  <% end %>

        <dl>
          <% if previous_date != occurrence.date %>
          <dt>
            <%= occurrence.date.to_formatted_s(:rfc822) %>
          </dt>
          <% end %>
          <% previous_date = occurrence.date %>
          <dd>
            <%= link_to '&bull;'.html_safe, occurrence_path(occurrence) %>
            <%= occurrence.details %>

            <% @occurrence = Occurrence.find(occurrence.id) %>
          </dd>
        </dl>

<% end %>

      </div>
    </div>
  </div>
</div>
<div class="col-md-1" style="position:fixed; right: 10px; top: 60px;">
  <div class="list-group text-center bg-faded">
    Timeline

  <% range.times do %>
    <a href="#<%= decade %>"><%= decade %></a>
    <% decade = decade + 10 %>
  <% end %>

  </div>
</div>
