<% content_for :title, @occurrence.date %>
<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 view-template">
      <p class="lead"><%= @occurrence.date.to_formatted_s(:rfc822) %></p>

      <dl>
        <dt>Details</dt> <dd><%= @occurrence.details %></dd>
      </dl>

      <strong>Sources</strong><br>

      <ul>
        <% @occurrence.occurrence_sources.each do |occurrence_source| %>
          <li>
            <%= link_to occurrence_source.source.title,"/sources/#{occurrence_source.source.id}" %>
            p.
            <%= occurrence_source.pages %>
            <% if user_signed_in? %>
              <%= link_to "Delete",
                "#{occurrence_path(occurrence_source.occurrence_id)}/occurrence_sources/#{occurrence_source.id}",
                :class => "btn btn-danger btn-xs",
                :role=> "button",
                method: :delete,
                data: { confirm: 'Are you sure?' }
              %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <ul>
          <%= render "add_source" %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
