<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="The Shadowrun Database">
<meta name="twitter:url" content="http://shadowrundb.com/occurrences/<%= @occurrence.id %>">
<meta name="twitter:title" content="<%= @occurrence.date.to_formatted_s(:rfc822) %>">
<meta name="twitter:description" content="<%= @occurrence.date.to_formatted_s(:rfc822) %>">

<% content_for :title, @occurrence.date %>
<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 view-template">
      <p class="lead"><%= @occurrence.date.to_formatted_s(:rfc822) %></p>

      <dl>
        <dt>Details</dt> <dd><%= @occurrence.details %></dd>
      </dl>

      <% if @occurrence.occurrence_people.exists? %>
        <%= render "show_person" %>
      <% end %>

      <% if @occurrence.occurrence_groups.exists? %>
        <%= render "show_group" %>
      <% end %>

      <% if @occurrence.occurrence_locations.exists? %>
        <%= render "show_location" %>
      <% end %>

      <% if user_signed_in? %>
        <%= render "add_person" %>
        <%= render "add_group" %>
        <%= render "add_location" %>
      <% end %>

      <% if @occurrence.occurrence_sources.exists? %>
        <%= render "show_source" %>
      <% end %>

      <% if user_signed_in? %>
        <%= render "add_source" %>
        <div class="form-group row justify-content-center">
          <div>
            <%= link_to "Edit", edit_occurrence_path(@occurrence), :class => "btn btn-primary", :role=> "button"%>
            <%= link_to "Back", occurrences_path, :class =>"btn btn-primary", :role => "button"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
