<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="The Shadowrun Database">
<meta name="twitter:url" content="http://shadowrundb.com/locations/<%= @location.id %>">
<meta name="twitter:title" content="<%= @location.name %>">
<meta name="twitter:description" content="<%= @location.name %>">

<% content_for :title, @location.name %>

<%= render "shared/nav" %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 view-template">

      <h3><%= @location.name %></h3>
      <p class="lead"><%= @location.kind %></p>

      <dl>
        <dt>Summary</dt> <dd><%= @location.summary %></dd>
        <dt>Details</dt> <dd><%= @location.details %></dd>
        <dt>Notes</dt> <dd><%= @location.notes %></dd>
      </dl>

      <address>
        <strong>Address</strong><br>
        <%= @location.address %><br>
        <%= @location.city %>, <%= @location.country %><br>
      </address>

      <% if @location.occurrence_locations.exists? %>
        <strong>Mentioned in these events:</strong><br>
        <ul>
          <% @location.occurrence_locations.each do |occurrence_location| %>
            <%= link_to occurrence_location.occurrence.date,"/groups/#{occurrence_location.occurrence.id}" %><br/>
            <%= occurrence_location.occurrence.details %>
          <% end %>
        </ul>
      <% end %>

      <strong>Sources</strong>

      <ul>
        <% @location.location_sources.each do |location_source| %>
          <li>
            <%= link_to location_source.source.name,"/sources/#{location_source.source.id}" %>
             p. <%= location_source.pages %>
            <% if user_signed_in? %>
              <%= link_to "Delete",
                "#{location_path(location_source.location_id)}/location_sources/#{location_source.id}",
                :class => "btn btn-danger btn-xs",
                :role=> "button",
                method: :delete,
                data: { confirm: 'Are you sure?' }
              %>
            <% end %>

          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <%= render "add_source" %>

        <div class="form-group row justify-content-center">
          <div>
            <%= link_to "Edit", edit_location_path(@location), :class => "btn btn-primary", :role=> "button"%>
            <%= link_to "Back", locations_path, :class =>"btn btn-primary", :role => "button"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
